@font-face {
    font-family: 'Montserrat-Regular';
    src: url('../fonts/Montserrat-Regular/Montserrat-Regular.eot');
    src: url('../fonts/Montserrat-Regular/Montserrat-Regular.woff2') format('woff2'),
        url('../fonts/Montserrat-Regular/Montserrat-Regular.woff') format('woff'),
        url('../fonts/Montserrat-Regular/Montserrat-Regular.ttf') format('truetype'),
        url('../fonts/Montserrat-Regular/Montserrat-Regular.svg#Montserrat-Regular') format('svg'),
        url('../fonts/Montserrat-Regular/Montserrat-Regular.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat-Black';
    src: url('../fonts/Montserrat-Black/Montserrat-Black.eot');
    src: url('../fonts/Montserrat-Black/Montserrat-Black.woff2') format('woff2'),
        url('../fonts/Montserrat-Black/Montserrat-Black.woff') format('woff'),
        url('../fonts/Montserrat-Black/Montserrat-Black.ttf') format('truetype'),
        url('../fonts/Montserrat-Black/Montserrat-Black.svg#Montserrat-Black') format('svg'),
        url('../fonts/Montserrat-Black/Montserrat-Black.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'CrimsonText-Regular';
    src: url('../fonts/CrimsonText-Regular/CrimsonText-Regular.eot');
    src: url('../fonts/CrimsonText-Regular/CrimsonText-Regular.woff2') format('woff2'),
        url('../fonts/CrimsonText-Regular/CrimsonText-Regular.woff') format('woff'),
        url('../fonts/CrimsonText-Regular/CrimsonText-Regular.ttf') format('truetype'),
        url('../fonts/CrimsonText-Regular/CrimsonText-Regular.svg#CrimsonText-Regular') format('svg'),
        url('../fonts/CrimsonText-Regular/CrimsonText-Regular.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'CrimsonText-Italic';
    src: url('../fonts/CrimsonText-Italic/CrimsonText-Italic.eot');
    src: url('../fonts/CrimsonText-Italic/CrimsonText-Italic.woff2') format('woff2'),
        url('../fonts/CrimsonText-Italic/CrimsonText-Italic.woff') format('woff'),
        url('../fonts/CrimsonText-Italic/CrimsonText-Italic.ttf') format('truetype'),
        url('../fonts/CrimsonText-Italic/CrimsonText-Italic.svg#CrimsonText-Italic') format('svg'),
        url('../fonts/CrimsonText-Italic/CrimsonText-Italic.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}