// FONT
$base_font_size: 10px;
// WIDTH
$base_width: 1170px;
// COLOR
$bckgrnd_white: #ffffff;
$bckgrnd_black_1: #1c1e23;
$bckgrnd_blue_1: #2754eb;
$bckgrnd_gray_1: #e4e5e7;
$bckgrnd_gray_2: #f0f2f7;

$border_white_1: #ffffff;
$border_gray_1: #f0f2f7;
$border_gray_2: #e3e8f0;
$border_gray_3: #2d2e33;
$border_gray_4: #f2f2f2;
$border_gray_5: #dfe4ee;

$text_white_1: #ffffff;
$text_blue_1: #343e5c;
$text_blue_2: #3a405b;
$text_blue_3: #2754eb;
$text_gray_1: #b9bed1;
$text_gray_2: #606165;
$text_gray_3: #a1a7bd;
$text_gray_4: #b8bfd3;
$text_gray_5: #605f5e;
$text_green_1: #00e2aa;
$text_black_1: #222328;
$text_black_2: #1c1e23;
$twitter: #44d0e3;
$facebook: #015ed7;
$google: #fc5353;
