@font-face {
  font-family: 'CrimsonText-Italic';
  src: url('CrimsonText-Italic.eot');
  src: url('CrimsonText-Italic.woff2') format('woff2'),
       url('CrimsonText-Italic.woff') format('woff'),
       url('CrimsonText-Italic.ttf') format('truetype'),
       url('CrimsonText-Italic.svg#CrimsonText-Italic') format('svg'),
       url('CrimsonText-Italic.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

